.container {
    max-width: 500px;
    margin-top: 120px;
    padding: 20px;
    background-color: #999997;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px  10px #ddd;
  } 
  h4{
    text-align: center ;
  }
  .HaveAnAccount{
    text-align: right;
    font-size: small;
    margin-top: -5%;
  }
  
  .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #1b1a1a;
   background-color: #dfe2fc;
    border: none;
  }
  
  .input-icon {
    position:fixed;
    margin-top: 14px;
    margin-left: -445px;
  
    /*top: 0;
    left: 160px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;*/
   /* -webkit-transition: all 200ms linear;
    transition: all 200ms linear;*/
  }
  
  .center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
  }
  
  input[type="submit"] {
    background-color: #6d6c68;
    color: #bdb9b9;
    padding: 10px 20px;
    margin-top: 4.5%;
    margin-left: 37%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    align-content: center;
  }
  
  input[type="submit"]:hover {
    background-color: #494a4b;
    color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(235, 236, 241, 0.2);
  }
  .loginbutton{
    text-decoration: none;
    color:#000000;

  }
  .loginbutton:hover{
    text-decoration: none;
    color: #ffeba7;
    color: #000000;


  }
